@model GameScore.UI.ViewModels.RateViewModel

@{
	Layout = "_ViewComponentLayout";
}

<div id="gameId" style="visibility: hidden; display: none">@Model.GameId</div>

@if (User.Identity.IsAuthenticated)
{
	<div class="row rate-container text-white">
		<div class="col-xs-2 col-md-1 text-center">
			<span title="Graphics" class="fas fa-camera rate-icon"></span>
		</div>
		<div class="col-xs-12 col-md-5">
			<select asp-for="Graphics" asp-items="@Model.Grades" id="graphicsSelect" class="form-control"></select>
		</div>
		<div class="col-xs-2 col-md-1 text-center">
			<span title="Gameplay" class="fas fa-gamepad rate-icon"></span>
		</div>
		<div class="col-xs-12 col-md-5">
			<select asp-for="Gameplay" asp-items="@Model.Grades" id="gameplaySelect" class="form-control"></select>
		</div>
	</div>
	<div class="row rate-container text-white">
		<div class="col-xs-2 col-md-1">
			<span title="Sound" class="fas fa-headphones rate-icon"></span>
		</div>
		<div class="col-xs-12 col-md-5">
			<select asp-for="Sound" asp-items="@Model.Grades" id="soundSelect" class="form-control"></select>
		</div>
		<div class="col-xs-2 col-md-1">
			<span title="Narrative" class="fas fa-book rate-icon"></span>
		</div>
		<div class="col-xs-12 col-md-5">
			<select asp-for="Narrative" asp-items="@Model.Grades" id="narrativeSelect" class="form-control"></select>
		</div>
	</div>
	<div class="col-xs-12 col-md-12 submit-rate">
		<button id="submitRating" type="button" class="btn btn-success">Submit Rating!</button>
	</div>
}
