@model GameScore.UI.ViewModels.RateViewModel

@{
	Layout = "_ViewComponentLayout";
}

<div id="gameId" style="visibility: hidden; display: none">@Model.GameId</div>

@if (User.Identity.IsAuthenticated)
{
	<div class="col-md-6">
		<div class="col-xs-12 col-md-6 rate-container">
			<span class="fas fa-camera rate-icon"></span>
			<select asp-for="Graphics" asp-items="@Model.Grades" id="graphicsSelect" class="form-control">
			</select>
		</div>
		<div class="col-xs-12 col-md-6 rate-container">
			<span class="fas fa-gamepad rate-icon"></span>
			<select asp-for="Gameplay" asp-items="@Model.Grades" id="gameplaySelect" class="form-control">
			</select>
		</div>
		<div class="col-xs-12 col-md-6 rate-container">
			<span class="fas fa-headphones rate-icon"></span>
			<select asp-for="Sound" asp-items="@Model.Grades" id="soundSelect" class="form-control">
			</select>
		</div>
		<div class="col-xs-12 col-md-6 rate-container">
			<span class="fas fa-book rate-icon"></span>
			<select asp-for="Narrative" asp-items="@Model.Grades" id="narrativeSelect" class="form-control">
			</select>
		</div>
		<div class="col-xs-12 col-md-12 submit-rate">
			<button id="submitRating" type="button" class="btn btn-success">Submit Rating!</button>
		</div>
	</div>
}